* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(244, 244, 239);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.gridContainer h1 {
  font-size: 6rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: italic;
  color: #fff;
  background-color: rgb(72, 154, 92);
  border-radius: 5rem;
  padding: 1rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0 30px 90px;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 40rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 0 30px 90px;
  border-radius: 2rem;
}

.display {
  padding: 2rem 1.6rem;
  text-align: right;
  background-color: rgb(133, 134, 146);
  color: #fff;
  font-size: 3.5rem;
  border: none;
}

button {
  appearance: none;
  border: 1px solid rgb(209, 209, 209);
  color: black;
  background-color: rgb(224, 224, 224);
  outline: none;
  font-size: 2rem;
  padding: 1.6rem;
  cursor: pointer;
  transition: 0.4s;
}

button:nth-child(4n) {
  background-color: rgb(231, 150, 80);
}

button:last-child {
  background-color: rgb(231, 150, 80);
}

button:hover {
  opacity: 0.7;
}

button:active {
  opacity: 1;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
}

.inputs button {
  max-width: 25%;
  flex: 1 25%;
}

.inputs button:nth-child(17) {
  max-width: 50%;
  flex: 1 50%;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 7rem;
  width: 100%;
  background-color: rgb(43, 95, 58);
}

.menuNav {
  display: flex;
  list-style: none;
  margin-right: 3rem;
}

.navList {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.6rem 1.5rem;
  background-color: rgb(72, 154, 92);
  border-radius: 5rem;
  margin: 0 1rem;
}

.navList:hover {
  opacity: 0.9;
}

.navList:active {
  opacity: 1;
}

.navList a {
  color: #fff;
  text-decoration: none;
}

.logo {
  color: #fff;
  font-size: 2rem;
  margin-left: 3rem;
}
